body{
font-family:Arial;
background:#111;
color:white;
padding:20px;
}

h1{
text-align:center;
}

table{
width:100%;
border-collapse:collapse;
}

td,th{
border:1px solid white;
padding:10px;
text-align:center;
}

input,button{
padding:10px;
margin:5px;
}

button{
background:#0066ff;
color:white;
border:0;
}