<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Arranchamento</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>Controle de Arranchamento</h1>
<form method="get">

<select name="dia">

<option>Todos</option>
<option>Segunda</option>
<option>Terça</option>
<option>Quarta</option>
<option>Quinta</option>
<option>Sexta</option>
<option>Sábado</option>
<option>Domingo</option>

</select>

<button type="submit">
Filtrar
</button>

</form>
<input 
type="text" 
id="pesquisa" 
placeholder="Pesquisar..."
onkeyup="filtrar()"
>


<table id="tabela">

<tr>
<th>Número</th>
<th>Nome</th>
<th>Café</th>
<th>Almoço</th>
<th>Janta</th>
<th>Ações</th>
</tr>


{% for m in militares %}

<tr>

<td>{{m.numero}}</td>

<td>{{m.nome}}</td>

<td>{{"✓" if m.cafe else "-"}}</td>

<td>{{"✓" if m.almoco else "-"}}</td>

<td>{{"✓" if m.janta else "-"}}</td>

<td>

<a href="/editar/{{m.id}}">
<button>Editar</button>
</a>

<a href="/excluir/{{m.id}}">
<button>Excluir</button>
</a>

</td>

</tr>

{% endfor %}

</table>


<h2>Adicionar Militar</h2>


<form action="/adicionar" method="post">

<input name="numero" placeholder="Número">

<input name="nome" placeholder="Nome">

<select name="dia">

<option>Segunda</option>
<option>Terça</option>
<option>Quarta</option>
<option>Quinta</option>
<option>Sexta</option>
<option>Sábado</option>
<option>Domingo</option>

</select>
<label>
<input type="checkbox" name="cafe">
Café
</label>

<label>
<input type="checkbox" name="almoco">
Almoço
</label>

<label>
<input type="checkbox" name="janta">
Janta
</label>


<button>
Salvar
</button>

</form>


<script>

function filtrar(){

let texto =
document.getElementById("pesquisa").value.toLowerCase();

let linhas =
document.querySelectorAll("#tabela tr");


linhas.forEach((linha,index)=>{

if(index==0)return;

linha.style.display =
linha.innerText.toLowerCase()
.includes(texto)
? ""
: "none";

});

}

</script>


</body>
</html>